@page
@model UnikPedel.Web.Pages.Admin.MedarbejderModel
@{
}

<div class="d-flex justify-content-end mb-2 mt-5">
    <a class="btn btn-primary" asp-page="/Vicevært/Opret">Opret ny vicevært</a>
</div>



<article>
        <table class="table">
            <thead>
            <tr>
                <th>
                    <label asp-for="Viceværter.First().Id"></label>
                </th>
                <th>
                    <label asp-for="Viceværter.First().ForNavn"></label>
                </th>
               <th>
                    <label asp-for="Viceværter.First().EfterNavn"></label>
                </th>
                <th>
                    <label asp-for="Viceværter.First().Telefon"></label>
                </th>
                <th>
                    <label asp-for="Viceværter.First().Email"></label>
                </th>
                <th>
                    <label>Handlinger</label>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Viceværter)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.ForNavn
                    </td>
                    <td>
                        @item.EfterNavn
                    </td>
                    <td>
                        @item.Telefon
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        <a asp-page="/Vicevært/Edit" asp-route-id="@item.Id">Rediger</a> |
                        <a asp-page="/Vicevært/Slet" asp-route-id="@item.Id">Slet</a>
      @*<a class="btn btn-primary" asp-page="/Vicevært/Opret">Opret ny vicevært</a>*@

                            @*<button type="button" onclick="slet()">Slet</button>*@
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </article>
